canvas {
    border: 2px solid white;
    cursor: crosshair;
}
.wall-container {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}
.reset-btn {
    background-color: #222;
    border: 2px solid #fff;
    color: #fff;
    width: 200px;
    padding: 12px 22px;
    margin: auto;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
}
.reset-btn:hover {
    background-color: #cccccc32;
    transition: .3s;
}
.score-text {
    margin:0;
}
.score-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.win-conditional-text {
    font-size: 1.2rem;
    margin: 0;
    font-weight: 600;
}