.modal-card {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .modal-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #222;
    padding: 4rem;
    border: 2px solid white;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .modal-btn {
    background-color: #222;
    border: 2px solid white;
    color: white;
    padding: 6px 12px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
  }
  .modal-btn:hover {
    background-color: #fff;
    color: #222;
  }
  .modal-score {
    font-size: 1.2rem;
    font-weight: 600;
  }